// Component colors
$color-background: #F0F8FF
$color-primary: #ffa62b
$color-secondary: #230007
$color-black: #1c110a

// Font colors
$color-font-light: #cfdbd5
$color-font-dark: #5d5d81

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,300;0,400;0,700;1,400&family=Nunito:ital,wght@0,300;1,300&display=swap')
$font-header: 'Josefin Slab', serif
$font-body: 'Nunito', sans-serif

// Box shadow
$box-shadow: 0 3rem 5rem rgba($color-black, .7)